doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/styles/book.css")
        link(rel="stylesheet", href="/public/styles/addReader.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        title.title #{book.title}
    body
        div.back-link
            a#comeback(href="/") Вернуться к библиотеке
        include bookInformation.pug
        include addReader.pug
        script(src="../public/script/bookCard.js")